
.hs-keyglyph {
  color: #007020
}

.hs-keyword {
  color: #007020;
  font-weight: bold;
}

.hs-comment, .hs-comment a {color: green;}

.hs-str, .hs-chr {color: teal;}

.hs-conid { 
  color: #902000;
  /* color: #00FFFF; 
     color: #0E84B5; */
  /* font-weight: bold; */ 
}
 

.hs-definition { 
  color: #06287E 
  /* font-weight: bold; */ 
}

.hs-varid, .hs-varop, .hs-layout {
  color: black; 
}

.hs-num {
  color: #40A070;
}

.hs-conop {
  color: #902000; 
}

.hs-cpp {
  color: orange;
}

.hs-sel  {}

a.annot {
    position:relative; 
    color:#000;
    text-decoration:none
}

a.annot:hover { 
  z-index:25; 
  background-color: #D8D8D8;
}

a.annot span.annottext {
    display: none
}

a.annot:hover span.annottext{ 
  
  border-radius: 5px 5px;
  
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

  white-space:nowrap;
  display:block;
  position: absolute; 
  left: 1em; top: 2em; 
  z-index: 99;
  margin-left: 5; 
  background: #FFFFAA; 
  border: 2px solid #FFAD33;
  padding: 0.8em 1em;
}


/* For short tutorial */

/* Add some basic styling */
.collapsibleDiv {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 10px;
}
/* The container */
.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default radio button */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

  